.big-button {
  background: $pastel-yellow;
  border: none;
  border-bottom: 0.6rem solid darken($pastel-yellow, 40%);
  color: black;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.0rem;
  width: 100%;
  border-radius: 0.2rem;
}
