.card {
  color: $heather-gray;
  background-color: $off-white;
  width: 100%;
  margin: auto; 
  text-align: center;
}

.card__header {
  font-size: $l-size;
  color: $off-black;
  background-color: $pastel-yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.card__header .impression__title {
  font-family: Queen, Lato, sans-serif;
  font-size: $xl-size;
}

.card__header .movie__title {
  display: flex;
  flex-wrap: wrap;
  font-family: Budmo, Lato, sans-serif;
  font-size: $xl-size;
}

.impression__difficulty {
  font-size: 2.2rem;
}

.card__summary {
  font-size: 2.2rem;
  text-align: left;
  padding-left: $xl-size;
  padding-right: $xl-size;
  padding-top: $m-size;
}
