.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: $l-size $l-size;
}

.whitebox {
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: $l-size;
  background: $off-white;
}

.sub-whitebox {
  padding: $l-size $l-size;
}

.box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: $l-size;
}

.sub-box {
  width: 50%;
  background: $off-white;
  padding: $l-size $l-size;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}