.header {
  background: $stage-curtain;
  color: $off-white;
  padding: $m-size 0;
}

.header__title {
  font-size: $xxl-size;
  font-family: Limelight, Garamond, serif;
  color: $pastel-yellow;
  margin: 0;
}

.header__subtitle {
  font-size: 2.8rem;
  font-family: Limelight, Garamond, serif;
  color: $off-white;
}
