.header {
  background: $off-black;
  color: $off-white;
  margin-bottom: $l-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $xxl-size;
  font-family: Limelight, Garamond, serif;
  color: $pastel-yellow;
  margin: 0;
}
