.quote {
  font-size: $l-size;
  color: $heather-gray;
  background-color: $off-white;
  display: flex;
  justify-content: space-evenly;  
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: $l-size;  
}

blockquote {
  font-family: Georgia, serif;
  font-size: $l-size;
  font-style: italic;
  // width: 500px;
  // margin: 0.25em 0;
  // padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: $heather-gray;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 8rem;
  position: absolute;
  left: -8rem;
  top: -2.2rem;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: $m-size;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}
