.radio-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: $l-size;
  padding-bottom: $l-size;
}

.radio-box label {
  color: $off-white;
}

/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  padding-right: 1.6rem;
  margin-bottom: 1.2rem;
  // cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: lighten($off-black, 50%);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio {
  background-color: $pastel-yellow;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio:after {
  top: 0.9rem;
  left: 0.9rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: $off-black;
}