@import './base/settings';
@import './base/base';
@import './components/button';
@import './components/container';
@import './components/header';
@import './components/info';
@import './components/quote';
@import './components/radio';
@import './components/card';

@font-face {
  font-family: Budmo;
  src: url('./fonts/Budmo.ttf') format('truetype');
}

@font-face {
  font-family: Limelight;
  src: url('./fonts/Limelight.ttf') format('truetype');
}

@font-face {
  font-family: Queen;
  src: url('./fonts/Queen.ttf') format('truetype');
}
