html {
  font-size: 62.5%;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $off-black;
}

button {
  cursor: pointer;
  max-width: 60rem;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

@media (max-width: 700px) {
  html {
    font-size: 33%;
  }
}