// Colors
$off-black: #20222b;
$off-white: #fffff0;
$pastel-yellow: #fdfd96;
$stage-curtain: #660011;
$heather-gray: #383838;

// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.0rem;